@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <h3>
        La apliccacion funcionará de la siguiente forma:
    
    </h3>
    <p>Primero deberas loggearte en la aplicacción , esta primera cuenta recibira el Rol de Secretaria que con el podremos acceder a todas las funcionalidades de la applicacion</p>
    <p>Desde el rol de Secretaria podremos dar de alta profesores , crear asignaturas , gestionar los alumnos y sus grupos. Solo desde Secretaria podremos crear otros usuarios con el rol Profesor y alumno 
    </p>
    <p>
        Las siguientes cuentas que se creen seran de tipo Alumno y tendremos un area para matricularse en el curso deseado 
    </p>
</div>
