
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Area de alumno</h1>
<a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Inscribete</a>

